<!-- events-table.component.html -->
<div *ngIf="events" class="wrapper-table">
    <p-table class="table" [value]="events" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr class="header-table">
                <th>ID</th>
                <th>Location</th>
                <th>Theme</th>
                <th>Date</th>
                <th>Attendance</th>
                <th>Batch</th>
                <th>Socials</th>
                <th>Speaker</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
            <tr>
                <td>{{event.id}}</td>
                <td>{{event.location}}</td>
                <td>{{event.theme}}</td>
                <td>{{event.date | date}}</td>
                <td>{{event.attendance}}</td>
                <td>{{event.batch}}</td>
                <td>{{event.socials}}</td>
                <td>{{event.speakerEvents}}</td>
                <td>
                    <p-button icon="pi pi-pen-to-square" class="mr-2" [routerLink]="['/', event.id, 'edit']"></p-button>
                    <p-button icon="pi pi-info" [routerLink]="['/', event.id, 'details']"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>