@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "../styles/variables.scss";

html,
body,
table,
button,
span,
input {
  font-family: "Lexend", sans-serif;
}

body {
  line-height: 1.2;
}

h1 {
  font-size: 14px;
  color: $blackGreyish;
  font-weight: 500;
  font-stretch: 125%;
}

h2 {
  font-size: 16px;
  color: $greyFont;
}

span {
  font-size: 15px;
  color: $greyFont;
}

.p-button-icon {
  color: $grey !important;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: $black;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}
