@import "../../styles/variables.scss";

.content-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-input {
  width: 25vw;
  border: none;
  padding: 15px;
  border-radius: 6px;
}

th {
  font-weight: 500 !important;
}
